
/* css for the ingredient card */
.card-margin{
  margin-top: .33em;
  padding: .25em;
  text-align: center !important;
  
}




.type-shaker {
  margin-top: -1.2em !important;
  font-size: x-small !important;
}

.cocktailform-name{
  padding-top: 3em;
  color: aliceblue;
  text-align: center;
}

.cocktailform-group {
  display: flex;
  justify-content: center;
}

.cocktailform {
  max-width: 300px !important;
  padding: 1em;
  justify-content: center;
}

.justified-content-center{
  display: flex;
  max-width: 360px !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.messageBottom {
  bottom:0px;
  overflow:auto;
  position:absolute;
  width:100%;
}

.shakerbox{
  align-self: center;
  margin-top: .5em;
  height: 85%;
  width: 80%;
  max-width: 280px;

}
.add-ingredient {
  width: 11em !important;
  padding-left: 6em;
}

.shakerbox-active{
  align-self: center;
  width: 80%;
  margin-top: .5em;
  height: 85%;
  max-width: 280px;
}

.cocktail-shaker {
  border-top: black solid 1em;
  margin-bottom: black solid 1em;
  text-align: center !important;
  position: relative;
  bottom: 0px;
  z-index: 2;
  min-height: 27em;
  height: 100%;
  border-radius: 2em;
  background-color: aliceblue;
}



.imagetop {
    margin-top: 1em;
    position: absolute;
    height: 26em;
    width: auto;
    z-index: 3;
    pointer-events: none;
}


.shakerbox-active img {
  position: absolute;
  height: 26em;
  width: auto;
  z-index: 3;
}
.col{
  margin: .2em;
}

.article-btn {
  margin: .5em !important;
  padding-left: .5em !important;
}
.cocktail-shaker .btn {
  border: 0 !important;
  height: 3.4em;
}

#disabledSelect {
  visibility: hidden;
}

.form-control {
  text-align: center !important;
  /* margin-top: 2em; */
  z-index: 5;
  pointer-events: auto;
}


.shakerbox-active{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake .2s;

  /* When the animation is finished, start again */
  animation-iteration-count: 5;
}

@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shakebuttons {
  width: 50%;
  align-self: center;
}

.builderbuttons {
  align-self: center;
  margin-top: 1.5em;
  width: 50%;
  animation: flicker 1.5s infinite alternate ;  
}




/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 1em var(--neon-text-color),
            0 0 2rem var(--neon-text-color),
            0 0 3rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 5rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1px var(--neon-border-color),
            inset 0 0 1px var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}