
/* css for the ingredient card */
.card-margin{
  margin-top: .35em;
  padding: .25em;
  background-color: #ff5b5b !important;
  
}

.cocktailform-name{
  margin-top: 3em !important;
  color: aliceblue;
  text-align: center;
}

.cocktailform-group {
  display: flex;
  justify-content: center;
}

.cocktailform {
  background-color: #ff5b5b;
  padding: 1em;
}

.justified-content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cocktail-shaker {
  border-top: black solid 1em;
  text-align: center !important;
  position: relative;
  bottom: 0px;
  z-index: 2;
  min-height: 27em;
  border-radius: 2em;
  background-color: aliceblue;
}

.messageBottom {
bottom:0px;
overflow:auto;
position:absolute;
width:100%;
}

.shakerbox{
  margin-top: .5em;
}
.shakerbox img {
  position: absolute;
  height: 28em;
  left: -0.2em;
  width: auto;
  z-index: 3;
}

.shakerbox-active img {
  position: absolute;
  height: 28em;
  left: -0.2em;
  width: auto;
  z-index: 3;
}

.shakerbox-active{
  margin-top: .5em;
}

#typeId {
  text-align: center !important;
  margin-top: 2em;
  z-index: 5;
}

/* css for the lock box */
.btn-lock {
    display: inline-block;
    background: #ff5b5b;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    padding: .6em 0 0 .68em;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .btn-lock svg {
    fill: none;
    transform: translate3d(0, 0, 0);
  }
  .btn-lock svg .bling {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-dasharray: 3;
    stroke-dashoffset: 15;
    transition: all 0.3s ease;
  }
  .btn-lock svg .lock {
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 36;
    transition: all 0.4s ease;
  }
  .btn-lock svg .lockb {
    fill: #fff;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(8deg);
    transform-origin: 14px 20px;
    transition: all 0.2s ease;
  }
  #inpLock {
    display: none;
  }
  #inpLock:checked + label {
    background: #20cca5;
  }
  #inpLock:checked + label svg {
    opacity: 1;
  }
  #inpLock:checked + label svg .bling {
    animation: bling 0.3s linear forwards;
    animation-delay: 0.2s;
  }
  #inpLock:checked + label svg .lock {
    stroke-dasharray: 48;
    animation: locked 0.3s linear forwards;
  }
  #inpLock:checked + label svg .lockb {
    transform: rotate(0);
    transform-origin: 14px 22px;
  }
  @-moz-keyframes bling {
    50% {
      stroke-dasharray: 3;
      stroke-dashoffset: 12;
    }
    100% {
      stroke-dasharray: 3;
      stroke-dashoffset: 9;
    }
  }
  @-webkit-keyframes bling {
    50% {
      stroke-dasharray: 3;
      stroke-dashoffset: 12;
    }
    100% {
      stroke-dasharray: 3;
      stroke-dashoffset: 9;
    }
  }
  @-o-keyframes bling {
    50% {
      stroke-dasharray: 3;
      stroke-dashoffset: 12;
    }
    100% {
      stroke-dasharray: 3;
      stroke-dashoffset: 9;
    }
  }
  @keyframes bling {
    50% {
      stroke-dasharray: 3;
      stroke-dashoffset: 12;
    }
    100% {
      stroke-dasharray: 3;
      stroke-dashoffset: 9;
    }
  }
  @-moz-keyframes locked {
    50% {
      transform: translateY(1px);
    }
  }
  @-webkit-keyframes locked {
    50% {
      transform: translateY(1px);
    }
  }
  @-o-keyframes locked {
    50% {
      transform: translateY(1px);
    }
  }
  @keyframes locked {
    50% {
      transform: translateY(1px);
    }
  }
  

/* Cocktail shaker shake */

.shakerbox-active{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.1s;

  /* When the animation is finished, start again */
  animation-iteration-count: 4;
}

@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}