
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #888;
$gray-700: #5a5a5a;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #FF7851;
$orange: #fd7e14;
$yellow: #FFCE67;
$green: rgb(135, 139, 197);
$teal: #20c997;
$cyan: #6CC3D5;
$primary: #871A85;
$secondary: #3bd1f4;
$success: green;
$info: #fe18d3;
$warning: #c2c20f;
$danger: #270245;
$light: $gray-100;
$dark: $gray-800;
// $body-color: $gray-600;
// $headings-color: $white;
// $dropdown-link-hover-color: $gray-700;
// $dropdown-link-hover-bg: $secondary;
// $navbar-dark-color: rgba($white,.6);
// $navbar-dark-hover-color: $white;