main {
   background-color: black;
}

.container--login {
  margin-top: 10em;
}
.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.form--login {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
}

.link--register {
  margin-top: 1em;
  padding: 0 1em 0 .75em;
}

.nobackground {
  background-color: black !important;
}

.form--login h1 {
  color: #FFDD1B !important;
  font-family: Pacifico !important;
}

.form--login h1:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}